.point-counter {
  z-index: 900;
  position: fixed;
  left: 1em;
  top: 1em;
  background-image: url('../../yellow-bg.png');
  border-radius: 0.25em;
  display: flex;
  padding: 0.3em;
  font-size: 2.5em;
  height: 1.2em;
  justify-content: space-evenly;
  color: #444;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));

  .divider {
    height: 100%;
  }
}
