$size: 10em;
$labelMargin: 0.08 * $size;

.card {
  font-family: CardFont;
  width: $size;
  height: 1.4 * $size;
  border-radius: 0.06 * $size;
  background: white;
  color: black;
  position: relative;
  font-size: 0.13 * $size;
  filter: drop-shadow(1px 1px 3px black);
  cursor: pointer;
}

@font-face {
  font-family: CardFont;
  src: url("./CARD.TTF");
}

.value {
  position: absolute;
  top: $labelMargin;
  left: $labelMargin;
  &.inverse {
    top: unset;
    left: unset;
    transform: rotate(180deg);
    right: $labelMargin;
    bottom: $labelMargin;
  }
}

.mark {
  position: absolute;
  top: $labelMargin + 0.15 * $size;
  left: $labelMargin;
  &.inverse {
    top: unset;
    left: unset;
    transform: rotate(180deg);
    right: $labelMargin;
    bottom: $labelMargin + 0.15 * $size;
  }
}
