@import '../../variables';
.switcher {
  grid-column: 1;
  grid-row: 2;
  grid-gap: 2em;

  display: grid;
  height: $cardSize;
  .mug {
    width: 100%;
    transition: 1s;
    filter: drop-shadow(2px 2px 4px black);
  }

  .face-container {
    display: grid;
    width: 100%;
    grid-gap: 2.5em;
    grid-template-columns: repeat(3, 3fr);

    .face {
      transition: 0.6s;
      width: 100%;
      cursor: pointer;
      filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
      &:hover {
        transform: rotate(360deg) translateY(-1em) scale(1.5);
      }
    }
  }
  &.d0 {
    .mug {
      transform: rotate(255deg);
    }
  }
  &.d1 {
    .mug {
      transform: rotate(225deg);
    }
  }
  &.d2 {
    .mug {
      transform: rotate(195deg);
    }
  }
}
